.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
}

.sidebar label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.map-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  margin-top: 5px;
}

input[type="checkbox"] {
  margin-top: 5px;
}